/*  font-family: 'Source Sans Pro', sans-serif;  */

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif; 
}

body {
    margin: 0;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    margin: 0;
    padding-top: 0.3em;
    font-size: 0.625rem;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(270deg, #FF713B, #FFA51D) 1;
}

.fine-print {
    color: #989898;
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }


/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url(images/dark-ribs.jpg);
    background-size: cover;
    background-color: #404040;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* =================
   main-content section 
   ================= */
   
.main-content {
    padding: 2em 1em;
}



.intro *,
.main-content * {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* =================
   email collector
   ================= */

.form-container{
    width: 80%;
    max-width: 300px;
}

input, .btn{
    width: 100%;
    border-radius: 7px;
    border: none;
    font-size: 0.625rem;
}

input{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom:0.6em;
    padding: 9px 0.7em;
    border: 1px solid #818181;
    color: #404040;
    text-align: center;
    transition: transform 250ms;
}

input:focus{
    transform: scale(1.1);
}

input:focus{
    outline: none;
}

.btn{
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    background: linear-gradient(270deg, #FF713B, #FFA51D);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: rgba(255, 255, 255, 1);
    padding: 13px 0;
    cursor: pointer;
    transition: color 250ms,transform 250ms;
}


.btn:hover,.btn:focus{
    color: black;
    transform: scale(1.1);
}

/* =================
   media queries 
   ================= */
   
@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }
    
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}